In [3]:
import time
import pandas as pd


CITY_DATA = {"chicago": "chicago.csv",
    "new york city": "new_york_city.csv",
    "washington": "washington.csv",}
MONTH = ['january', 'february', 'march', 'april', 'may', 'june', 'all']
DAYS = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday', 'all']   


def get_filters():
    """
    Asks user to specify a city, month, and day to analyze. Be sure to make the input .lower()
    Utilize while True: loops
    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print("Hey! Let's explore today bikeshare data!")
    # get user input for city (chicago, new york city, washington).
    # HINT: Use a while loop to handle invalid inputs

    while True:
        city = input("Your City is: Chicago, New York City, Washington: ").lower()
        if city not in ["chicago", "new york city", "washington"]:
            print("I cant see this city,try again this command!")
            continue
        else:
            break

    # get user input for month (all, january, february, ... , june)

    while True:
        month = input("Your Month is: All, January, February, March, April, May, or June: ").lower()
        if month not in ["all", "january", "february", "march", "april", "may", "june"]:
            print("I cant see this month, try again this command!")
            continue
        else:
            break

    # get user input for day of week (all, monday, tuesday, ... sunday)

    while True:
        day = input("Your Day is: All, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday: ").lower()
        if day not in ["all","monday","tuesday","wednesday","thursday","friday","saturday","sunday",]:
            print("i cant see this day, try again this command!")
            continue
        else:
            break

    print("-" * 40)
    return city, month, day

ModuleNotFoundError: No module named 'pandas'

NameError: name 'get_filters' is not defined

In [4]:
city, month, day

NameError: name 'city' is not defined

In [24]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.
    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
        Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    # Retrieve and load correct city

    df = pd.read_csv(CITY_DATA[city])

    # Creates new columns for analysis
    df["Start Time"] = pd.to_datetime(df["Start Time"])

    df["month"] = df["Start Time"].dt.month
    df["week_day"] = df["Start Time"].dt.day_name()
    df["start_hour"] = df["Start Time"].dt.hour

    # Filter by month

    if month != "all":

        # use the index of the months list to get the corresponding int

        months = ["january", "february", "march", "april", "may", "june"]
        month = months.index(month) + 1

        # ilter by month to create the new dataframe

        df = df[df["month"] == month]

    # Filter by weekday

    if day != "all":
        df = df[df["week_day"] == day.title()]
    return df

In [25]:
df = load_data(city, month, day)

In [26]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,month,week_day,start_hour
5,1148202,2017-05-14 07:18:18,2017-05-14 07:24:56,398.000,1st & K St SE,Eastern Market Metro / Pennsylvania Ave & 7th ...,Subscriber,5,Sunday,7
14,1308542,2017-05-28 03:50:26,2017-05-28 04:24:26,2039.472,Henry Bacon Dr & Lincoln Memorial Circle NW,Lincoln Memorial,Customer,5,Sunday,3
64,1077673,2017-05-07 03:55:07,2017-05-07 04:14:50,1182.397,4th St & Madison Dr NW,New York Ave & 15th St NW,Customer,5,Sunday,3
66,1084077,2017-05-07 12:35:42,2017-05-07 01:20:29,2686.536,15th & W St NW,Eastern Market Metro / Pennsylvania Ave & 7th ...,Customer,5,Sunday,12
186,1082763,2017-05-07 11:10:44,2017-05-07 11:30:08,1164.403,M St & Delaware Ave NE,14th & D St NW / Ronald Reagan Building,Customer,5,Sunday,11

In [36]:
def time_stats(df):
    """
    Displays statistics on the most frequent times of travel.
    """
    print("\nCalculating The Most Frequent Times of Travel...\n")
    start_time = time.time()
    # TO DO: display the most common month

    common_month = df["month"].mode()[0]
    print("Most Common Month:", common_month)

    # TO DO: display the most common day of week

    common_day = df["week_day"].mode()[0]
    print("Most Common Day Of Week:", common_day)

    # TO DO: display the most common start hour

    сommon_hour = df["start_hour"].mode()[0]
    print("Most Common Start Hour:", сommon_hour)

    print("\nThis took %s seconds." % (time.time() - start_time))
    print("-" * 40)

In [37]:
time_stats(df)

Calculating The Most Frequent Times of Travel...

Most Common Month: 5
Most Common Day Of Week: Sunday
Most Common Start Hour: 12

This took 0.005983829498291016 seconds.
----------------------------------------

In [39]:
def station_stats(df):
    """
    Displays statistics on the most popular stations and trip.
    """
    print("\nCalculating The Most Popular Stations and Trip...\n")
    start_time = time.time()

    # display most commonly used start station

    start_station = df["Start Station"].mode()[0]
    print("What is the most Start Station:", start_station)
    # display most commonly used end station

    end_station = df["End Station"].mode()[0]
    print("What is the most End Station:", end_station)

    # display most frequent combination of start station and end station trip

     frequent_comb = df.groupby(["Start Station", "End Station"]).size().idxmax()
    print("The most frequent combination of start and end stations is: ", frequent_comb)

    print("\nThis took %s seconds." % (time.time() - start_time))
    print("-" * 40)

In [40]:
station_stats(df)

Calculating The Most Popular Stations and Trip...

Most Start Station: Lincoln Memorial
Most End Station: Lincoln Memorial
The most frequent combination of start station and end station trip is:  Jefferson Dr & 14th St SW Lincoln Memorial

This took 0.00982046127319336 seconds.
----------------------------------------

In [41]:
def trip_duration_stats(df):
    """
    Displays statistics on the total and average trip duration.
    """
    print("\nCalculating Trip Duration...\n")
    start_time = time.time()
    # display total travel time
    total_time = df["Trip Duration"].sum()
    print("The total travel time is", df["Trip Duration"].sum(), "\n")

    # display mean travel time
    av_time = df["Trip Duration"].mean()
    print("The total mean time is", df["Trip Duration"].mean())
    print("\nThis took %s seconds." % (time.time() - start_time))
    print("-" * 40)

In [42]:
trip_duration_stats(df)

Calculating Trip Duration...

The total travel time is 13630047.394

The total mean time is 1784.7384305355506

This took 0.0 seconds.
----------------------------------------

In [45]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print("\nCalculating User Stats...\n")
    start_time = time.time()

    # Display counts of user types

    print("Counts of User Type Stats:")
    print(df["User Type"].value_counts())
    if "Gender" in df.columns:

        # Display counts of gender
        gen_count = dict(df["Gender"].value_counts())
        print("Counts of gender: ", gen_count)
       

        # Display earliest, most recent, and most common year of birth
        a_earliest, a_recent, a_common = int(df["Birth Year"].min()), int(df["Birth Year"].max()), int(df["Birth Year"].mean())
        print("The Earliest year of birth is: {}, the most recent year of birth is: {}, the most common year of birth is {}".format(a_earliest,a_recent,a_common))
    else:
        print("Error! we dont have some data about gender and birth year.")


        
        print("\nThis took %s seconds." % (time.time() - start_time))
        print("-" * 40)

In [46]:
user_stats(df)

Calculating User Stats...

User Type Stats:
Subscriber    3918
Customer      3719
Name: User Type, dtype: int64
error! we haven't data about gender and birth year.

This took 0.002997159957885742 seconds.
----------------------------------------

In [47]:
def display_raw(df):
    """Displays raw data if the users wishes to see it."""
    x = 0
    while True:
        raw = input("Do you want to see the raw data? Yes or No:  ")
        if raw.lower() == "yes":
            print(df[x : x + 5])
            x = x + 5
        else:
            break

In [48]:
def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)
        display_raw(df)

        restart = input("\nWould you like to restart this data? Enter yes or no please.\n")
        if restart.lower() != "yes":
            break


if __name__ == "__main__":
    main()

Hello! Let's explore some US bikeshare data!

your City: Chicago, New York City, Washington:  chicago
month: All, January, February, March, April, May, or June:  kk

I cant see this month, try again.

month: All, January, February, March, April, May, or June:  all
Day: All, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday:  monday

----------------------------------------

Calculating The Most Frequent Times of Travel...

Most Common Month: 6
Most Common Day Of Week: Monday
Most Common Start Hour: 17

This took 0.010113954544067383 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

Most Start Station: Streeter Dr & Grand Ave
Most End Station: Streeter Dr & Grand Ave
The most frequent combination of start station and end station trip is:  Lake Shore Dr & Monroe St Streeter Dr & Grand Ave

This took 0.032985687255859375 seconds.
----------------------------------------

Calculating Trip Duration...

The total travel time is 39945856

The total mean time is 890.039348499365

This took 0.0 seconds.
----------------------------------------

Calculating User Stats...

User Type Stats:
Subscriber    37316
Customer       7565
Name: User Type, dtype: int64
Gender Stats:
Male      28646
Female     8689
Name: Gender, dtype: int64
birth year stats:

Earliest Birth Year:
 1899
Most reacent Birth Year:
 2016
Most Common Birth Year:
 1989

Do you want to see the raw data? Yes or No:   yes

    Unnamed: 0          Start Time             End Time  Trip Duration  \
3       304487 2017-03-06 13:49:38  2017-03-06 13:55:28            350
5      1473887 2017-06-26 09:01:20  2017-06-26 09:11:06            586
9       135470 2017-02-06 18:00:47  2017-02-06 18:09:00            493
32     1359055 2017-06-19 17:43:17  2017-06-19 17:59:35            978
36      165328 2017-02-13 14:17:25  2017-02-13 14:22:52            327

                    Start Station                   End Station   User Type  \
3   Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
5    Clinton St & Washington Blvd          Canal St & Taylor St  Subscriber
9    Stetson Ave & South Water St  Clinton St & Washington Blvd  Subscriber
32     Larrabee St & Armitage Ave   Dearborn Pkwy & Delaware Pl  Subscriber
36       University Ave & 57th St         Kimbark Ave & 53rd St  Subscriber

    Gender  Birth Year  month week_day  start_hour  \
3     Male      1986.0      3   Monday          13
5     Male      1990.0      6   Monday           9
9     Male      1979.0      2   Monday          18
32  Female      1993.0      6   Monday          17
36  Female      1984.0      2   Monday          14

                                                 trip
3   Christiana Ave & Lawrence Ave St. Louis Ave & ...
5   Clinton St & Washington Blvd Canal St & Taylor St
9   Stetson Ave & South Water St Clinton St & Wash...
32  Larrabee St & Armitage Ave Dearborn Pkwy & Del...
36     University Ave & 57th St Kimbark Ave & 53rd St

Do you want to see the raw data? Yes or No:   yes

    Unnamed: 0          Start Time             End Time  Trip Duration  \
43      915409 2017-05-22 05:49:43  2017-05-22 05:51:15             92
47      371076 2017-03-20 21:27:24  2017-03-20 21:39:02            698
54      702079 2017-05-01 08:35:17  2017-05-01 08:49:02            825
58      265806 2017-02-27 07:20:11  2017-02-27 07:31:01            650
64      445106 2017-04-03 06:31:20  2017-04-03 06:43:33            733

                   Start Station                End Station   User Type  \
43      Clark St & Congress Pkwy  LaSalle St & Jackson Blvd  Subscriber
47           Morgan St & Lake St       Larrabee St & Oak St  Subscriber
54       Sedgwick St & North Ave      Michigan Ave & Oak St  Subscriber
58  Clinton St & Washington Blvd      Dearborn St & Erie St  Subscriber
64  Clinton St & Washington Blvd  Halsted St & Roosevelt Rd  Subscriber

   Gender  Birth Year  month week_day  start_hour  \
43   Male      1967.0      5   Monday           5
47   Male      1972.0      3   Monday          21
54   Male      1983.0      5   Monday           8
58   Male      1975.0      2   Monday           7
64   Male      1966.0      4   Monday           6

                                                 trip
43  Clark St & Congress Pkwy LaSalle St & Jackson ...
47           Morgan St & Lake St Larrabee St & Oak St
54      Sedgwick St & North Ave Michigan Ave & Oak St
58  Clinton St & Washington Blvd Dearborn St & Eri...
64  Clinton St & Washington Blvd Halsted St & Roos...

Do you want to see the raw data? Yes or No:   no

Would you like to restart? Enter yes or no.
 no